body {
  background-color: #FFE2FF;
}

#heading {
  font-family: sans-serif;
  text-align: center;
}
#image {
  text-align: center;
}
#image img {
border-radius: 50%;
width: 200px;
text-align: center;

}

.paragraph {
  font-family: arial;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}
